[Desktop Entry]
Categories=Application;
Comment[en_US]=disable ssh server for sftp transfer
Exec=konsole -e 'sudo systemctl disable --now sshd'
Icon=lock
Name[en_US]=disable ssh
StartupNotify=true
Terminal=true
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
